#list {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#list td, th {
  border: 1px solid #ddd;
  padding: 4px;
}

#list tr:nth-child(even){background-color: #f2f2f2;}

#list tr:hover {background-color: #ddd;}

#list th {
  text-align: left;
  background-color: #f2f2f2;
}
